* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                url('images/bio.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
    margin-left: 20px;
}

.logo-link {
    font-weight: 900;
    font-size: 80px;
    font-family: Garamond, serif;
    text-decoration: none;
    color: #ffefd1;
    display: inline-block;
    transition: transform 0.3s ease;
    animation: liftUp 0.8s ease forwards;
}

.nav-links .nav-item {
    transform: scale(0.95);
    text-decoration: none;
    color: #ffefd1;
    margin-right: 120px;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    transition: transform 0.3s ease;
    animation: liftUp 0.8s ease forwards;
}

.content-grid {
    display: flex;
    margin-top: auto; 
    width: 100%;
    opacity: 85%;
}

.column {
    flex: 1;
    padding: 40px;
    min-height: 450px;
    flex-direction: column;
}

.col-light { background-color: #9de0ff; color: #131313; }
.col-mid   { background-color: #2596ff; color: #252525; }
.col-dark  { background-color: #000a41; color: #fff; }

.column h2 {
    letter-spacing: 5px;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Impact', sans-serif;
    animation: liftUp 1.2s ease forwards;
}

.column p {
    font-variant: small-caps;
    padding-left: 40px;
    margin-right: 50px;
    font-size: 15px;
    line-height: 1.3;
    font-weight: 600;
    animation: liftUp 1.4s ease forwards;
}

.contacts {
    background: #011822;
    padding: 40px 100px;
    width: 100%;           
    z-index: 5;
}
.footer-item {
    color: #ffefd1;
    text-decoration: none;
    padding: 0px 130px;
    margin-right: 120px;
    font-size: 12px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-contact span { margin-left: 20px; color: #8f8e8d; }

/* Animations */
@keyframes liftUp {
    0% { opacity: 0; transform: translateY(50px); }
    100% { opacity: 1; transform: translateY(0); }
}

.nav-links .nav-item.active {
    color: #8fd6ff;
    font-weight: 700;
}

.nav-links .nav-item::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #8fd6ff;
    box-shadow: 0 0 8px #8fd6ff;
    transition: width 0.3s ease;
    animation-play-state: inherit;
}

.logo-link:hover, .nav-item:hover {
    transform: scale(1.1);
    color: #8fd6ff;
    text-shadow: 0 0 15px #8fbcff;
}

.nav-links .nav-item:hover::after,
.nav-links .nav-item.active::after {
    width: 100%;
}

.footer-item:hover {
    text-decoration: underline;
}